# dependencies
/node_modules
/packages

# testing
/coverage

# production
/build
/bin
/out
/target




# misc
.DS_Store
.Thumbs.db
.env.local
.env.development.local
.env.test.local
.env.production.local
.log
.lock
.tmp
