<% - include('partials/header') -%>

<h1>Home</h1>
<p>
  <%= homeContent %>
</p>

<% if (let=i; i < posts.length; i++) { %>
<% console.log(posts[i].title) %>
<% } %>; <% - include('partials/footer') -%>
